.header-top{
    background-color: white;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.header-bottom{
    background-color:  rgba(76, 175, 80, 1);
    display:flex;
    align-items:flex-start;
}

.respuestas {
    display: none;
    padding-left: 5rem;
}