body, html {
    height: 100%;
    font-family: "Segoe UI", "Open Sans", Arial, sans-serif !important;
}

 .content {
    height: 100%;
    width: 100%;
}

.header {
    background-color:  rgba(76, 175, 80, 1);
    display: flex;
    flex-direction: column;
    height: 80%;
    box-shadow: 0 0 1rem 0 black;
}

.tarjeta{
    background-color:#AFF0B1;
}

.header h1 {
    color: white;
    font-size: 22px;
}

.logos {
    margin: .5rem 0;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;

}


.logos img{
    margin: 0.5rem 0;
}

.miel{
    width: 50px !important;
}

hr{
    background-color:#AFF0B1;
    width: 80%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.login h1{
    margin-bottom: 1rem;
}

.login form {
    width: 100%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.521);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 3px 10px 0 rgba(0,0,0,0.19)!important

}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;

}

input{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    color: black !important;
    font-weight: bold;
}




.ingresar{
    box-shadow: 0 .52rem 1.3rem rgba(0,0,0,.6)!important;
}
.titulo-noticias{
    background-color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    
}
.titulo-noticias h2{
    color: rgba(76, 175, 80, 1);
    margin: 0;
    padding-bottom: .5rem;
}

.video{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),0 3px 10px 0 rgba(0,0,0,0.19)!important

}

main {
    flex: 0 1 75%;
    overflow-y: auto;
    background-color: white;
    margin-left: 1rem;
    padding-right: 1rem;
}

.leer-mas{
    text-decoration: underline;
    color: rgba(76, 175, 80, 1);
}

.leer-mas:hover{
    color: rgba(76, 175, 80, 1);
}
.campo-form{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    border-bottom: 1px solid white;

}

.ayuda-box{
    display: flex;
    justify-content: flex-end
}

.ayuda{
    color: white;
}

.desplegable{
    border-bottom:1px solid gray;

}

.desplegable a{
    color:white;
}

.menu-info{
    background-color:  white;
}

.info ul li a{
    color: rgba(76, 175, 80, 1);
}



.info ul li a:hover{
    color: white;
    text-decoration: none;
    background-color: rgba(76, 175, 80, 1);
    color:white;
}

.header-bottom ul {
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    padding: 0;
}

.header-bottom ul li {
    flex: 1;
}

.btn-modal {
    color:white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: .5rem;
    text-decoration: none !important;
}

.btn-modal:hover {
    background-color: rgba(255, 255, 255, 0.521);
    color: black !important;
    cursor:pointer;
}

.mail-contacto{
    color:white;
    text-decoration: none;
}

.mail-contacto:hover{
    color:white;
}

.area-modal{
    background-color: #555 !important;
    color: white;
    font-weight: lighter;
}

.close{
    color: white !important;
}

.ingreso {
	background-color: white;
    border-color: white;
    color: rgba(76, 175, 80, 1);
}

.ingreso:hover {
    background-color: white;
    border-color: white;
    color: rgba(76, 175, 80, 1);
}



.card-box{
    background-color:#AFF0B1;
    padding: .5rem !important;

}

@media screen and (min-width: 47em){

    .content {
        display: flex;
    }

	.header {
        background-color:  rgba(76, 175, 80, 1);
        flex: 0 1 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    main {
        flex: 0 1 75%;
        overflow-y: auto;
    }

}

@media screen and (min-width: 60em){
	.header {
        background-color:  rgba(76, 175, 80, 1);
        flex: 0 1 40%;
    }
    .logos{
        display: flex;
        flex-direction:column;
    }

}
