body, html {
    height: 100%;
    font-family: "Segoe UI", "Open Sans", Arial, sans-serif !important;
}

.content {
    display: flex;
    height: 100%;
    width: 100%;
}

.header {
    background-color:  rgba(76, 175, 80, 1);
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.header h1 {
    color: white;
    font-size: 22px;
}

.logos {
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logos img{
    margin: 0.5rem 0;
}

hr{
    background-color:#AFF0B1;
    width: 80%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

.login h1{
    margin-bottom: 1rem;
}

.login form {
    width: 100%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.521);

}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:none;
}

input{
    border:none;
    background-color: rgba(255, 255, 255, 0);
    color: white;

}
.titulo-noticias{
    background-color:  white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    
}
.titulo-noticias h3,h4{
    font-weight: bold;
    color: rgba(76, 175, 80, 1);
    padding: 0;
    margin: 0;
}

main {
    flex: 0 1 75%;
    overflow-y: auto;
}

.leer-mas{
    text-decoration: underline;
}
.campo-form{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    border-bottom: 1px solid white;

}

.info{
    position: absolute !important;
   z-index: 10000 !important;

}

.desplegable{
    border-bottom:1px solid white;
}

.desplegable a{
    color:white;
    
}

.menu-info{
    background-color:  rgba(0, 0, 0, 0.801) !important;
}

.info ul li:hover{
    background-color: rgba(255, 255, 255, 0.822);
    color: black;
}

.info ul li a:hover{
    color: black;
    text-decoration: none;
}

.header-bottom ul {
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    justify-content: space-between;
    display: flex;
    padding: 0;
}

.header-bottom ul li {
    flex: 1;
}

.header-bottom ul li a {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: .5rem;
    text-decoration: none;
}

.header-bottom ul li a:hover {
    background-color: rgba(255, 255, 255, 0.521);
    color: black;
}

